.row
    %h1 All chords

    %table
        %tr
            %thead
                %th
                    Composer
                %th
                    Song
                %th
                    Versionen

        %tr
            %td
                Douglas Dare
            %td
                Lungful
            %td
                1
