.row
    %h1 All versions

    %h2 SONG NAME (TO DO)

    %table
        %tr
            %thead
                %th
                    Song
                %th
                    Level
                %th
                    Key
                %th
                    Comment

        - @transcriptions.each do |transcription|

            %tr
                %td= link_to transcription.song_id, transcription_path(transcription)

                %td= transcription.level
                %td= transcription.key
                %td= transcription.comment
