.row.songs
    %h1.songs__h1 All Songs

    %table
        %tr
            %thead
                %th
                    Composer
                %th
                    Song
                %th
                    Versionen

        - @songs.each do |song|

            %tr
                %td= song.musician

                %td= link_to song.title, song_path(song)
                %td= link_to song.transcriptions.count, song_path(song)
