.row
    %h1= @song.title

    %p=@song.musician
    %p
        Original Key:
        \#{@song.originalkey}

    .create
        = link_to 'Add New Transcription', new_transcription_path, :class => 'button'
